<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="#">

            <div>FirstName</div>
            <div>LastName</div>
            <div>Age</div>
            <div>region</div>
        </div>
        <div>Descr</div>
        <div>
        </div>
            <div>first match</div>
            <div>second match</div>
            <div>third match</div>
        </div>
    </div>
    </div>
{{ algo }}
</body>
</html>