<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<img src="/static/images/logo-white.png" style="position: absolute; left: 12%; top: 8%;" width="12%">
<div class="w-100 bg-home">
    <div class="info-home w-50">
        <div>
            <h1 class="pb-2 border-bottom-">Petites Différences <br> Grande Histoire !</h1>
            <hr>
            <h4>Site de rencontre n°<span>1</span><br>pour les personnes ayant des<span> allergies INSOLITES </span></h4>
        </div>
       <div class="boutons col d-flex flex-column align-items-center mt-5 w-75">
            <a href="{{ url_for('inscription') }}" class="btn bg-green mb-3">S'inscrire</a>
            <a href="{{ url_for('login') }}" class="btn bg-grey">Se connecter</a>
       </div>
    </div>


</div>
<!-- Script JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

