{% extends "base.html" %}

{% block content %}

<div class="container">

        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
            <div class="card">
                <div class="card-header bg-warning">
                    <div class="card-title">FORMULAIRE D'INSCRIPTION</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px; ">Vous avez un compte!  <a id="signinlink" href="{{ url_for('login') }}">Se connecter</a></div>
                </div>
                <div class="card-body" >
                    <form id="signupform" class="form-horizontal" role="form" action="/matching" method = "POST">

                        <div id="alert_enregist" style="display:none" class="alert alert-danger">
                            <p>Erreur:</p>
                            <span></span>
                        </div>

                        <!-- RENSEIGNEMENT -->
                        <div class="form-group">
                            <label for="prenom" class="col-md-12 control-label">Genre</label>
                            <div class="col-md-12">
                                <input type="radio" id="femme" name="genre" value="Femme">
                                <label for="femme">Femme</label>
                                <input type="radio" id="homme" name="genre" value="Homme">
                                <label for="homme">Homme</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-md-12 control-label">Prénom</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="prenom" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="lastname" class="col-md-12 control-label">Nom</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom" required>
                            </div>
                        </div>

                         <div class="form-group">
                            <label for="nom" class="col-md-12 control-label">Age</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="age" name="age" placeholder="Age" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-12 control-label">Email</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="loc" class="col-md-12 control-label">Ville</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="loc" name="loc" placeholder="Ville" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="caract" class="col-md-12 control-label">Caractère</label>
                            <div class="col-md-12">
                                <select class="form-control" id="caract" name="caract">
                                    <option value="0">Choisir...</option>
                                    <option value="Attentionné">Attentionné</option>
                                    <option value="Généreux">Généreux</option>
                                    <option value="Drôle">Drôle</option>
                                    <option value="Fêtard">Fêtard</option>
                                    <option value="Gentil">Gentil</option>
                                    <option value="Courageux">Courageux</option>
                                    <option value="Intelligent">Intelligent</option>
                                    <option value="Bosseur">Bosseur</option>
                                    <option value="Honnête">Honnête</option>
                                    <option value="Patient">Patient</option>
                                    <option value="Fiable">Fiable</option>
                                    <option value="Bricoleur">Bricoleur</option>
                                    <option value="Charmeur">Charmeur</option>
                                    <option value="Sportif">Sportif</option>
                                    <option value="Calme">Calme</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="adresse" class="col-md-12 control-label">Hobby</label>
                            <div class="col-md-12">
                                <select class="form-control" id="hobby" name="hobby">
                                    <option value="Golf">Golf</option>
                                     <option value="Chant">Chant</option>
                                     <option value="Danse">Danse</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descr" class="col-md-12 control-label">Description</label>
                            <div class="col-md-12">
                                <textarea id="descr" name="descr"></textarea>
                            </div>
                        </div>

                        <hr>

                        <h3>Veuillez selectionner vos allergies les plus importantes</h3>
                        <div class="form-group">
                            <label for="al1" class="col-md-12 control-label">Allergie n°1</label>
                            <div class="col-md-12">
                                <select class="form-control" id="al1" name="al1">
                                    <option value="0">Choisir...</option>
                                    <option value="Allergique à l'eau">Allergique à l'eau</option>
                                    <option value="Allergique aux pièces de monnaies">Allergique aux pièces de monnaies</option>
                                    <option value="Allergique aux vibrations">Allergique aux vibrations</option>
                                    <option value="Allergique au froid">Allergique au froid</option>
                                    <option value="Allergique à la transpiration">Allergique à la transpiration</option>
                                    <option value="Allergique au sperme">Allergique au sperme</option>
                                    <option value="Allergique aux chaussures">Allergique aux chaussures</option>
                                    <option value="Allergique au lupin">Allergique au lupin</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="al2" class="col-md-12 control-label">Allergie n°2</label>
                            <div class="col-md-12">
                                <select class="form-control" id="al2" name="al2">
                                    <option value="0">Choisir...</option>
                                    <option value="Allergique à l'eau">Allergique à l'eau</option>
                                    <option value="Allergique aux pièces de monnaies">Allergique aux pièces de monnaies</option>
                                    <option value="Allergique aux vibrations">Allergique aux vibrations</option>
                                    <option value="Allergique au froid">Allergique au froid</option>
                                    <option value="Allergique à la transpiration">Allergique à la transpiration</option>
                                    <option value="Allergique au sperme">Allergique au sperme</option>
                                    <option value="Allergique aux chaussures">Allergique aux chaussures</option>
                                    <option value="Allergique au lupin">Allergique au lupin</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="al3" class="col-md-12 control-label">Allergie n°3</label>
                            <div class="col-md-12">
                                <select class="form-control" id="al3" name="al3">
                                    <option value="0">Choisir...</option>
                                    <option value="Allergique à l'eau">Allergique à l'eau</option>
                                    <option value="Allergique aux pièces de monnaies">Allergique aux pièces de monnaies</option>
                                    <option value="Allergique aux vibrations">Allergique aux vibrations</option>
                                    <option value="Allergique au froid">Allergique au froid</option>
                                    <option value="Allergique à la transpiration">Allergique à la transpiration</option>
                                    <option value="Allergique au sperme">Allergique au sperme</option>
                                    <option value="Allergique aux chaussures">Allergique aux chaussures</option>
                                    <option value="Allergique au lupin">Allergique au lupin</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="al4" class="col-md-12 control-label">Allergie n°4</label>
                            <div class="col-md-12">
                                <select class="form-control" id="al4" name="al4">
                                    <option value="0">Choisir...</option>
                                    <option value="Allergique à l'eau">Allergique à l'eau</option>
                                    <option value="Allergique aux pièces de monnaies">Allergique aux pièces de monnaies</option>
                                    <option value="Allergique aux vibrations">Allergique aux vibrations</option>
                                    <option value="Allergique au froid">Allergique au froid</option>
                                    <option value="Allergique à la transpiration">Allergique à la transpiration</option>
                                    <option value="Allergique au sperme">Allergique au sperme</option>
                                    <option value="Allergique aux chaussures">Allergique aux chaussures</option>
                                    <option value="Allergique au lupin">Allergique au lupin</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="al5" class="col-md-12 control-label">Allergie n°5</label>
                            <div class="col-md-12">
                                <select class="form-control" id="al5" name="al5">
                                    <option value="0">Choisir...</option>
                                    <option value="Allergique à l'eau">Allergique à l'eau</option>
                                    <option value="Allergique aux pièces de monnaies">Allergique aux pièces de monnaies</option>
                                    <option value="Allergique aux vibrations">Allergique aux vibrations</option>
                                    <option value="Allergique au froid">Allergique au froid</option>
                                    <option value="Allergique à la transpiration">Allergique à la transpiration</option>
                                    <option value="Allergique au sperme">Allergique au sperme</option>
                                    <option value="Allergique aux chaussures">Allergique aux chaussures</option>
                                    <option value="Allergique au lupin">Allergique au lupin</option>
                                </select>
                            </div>
                        </div>

                        <hr>

                        <h3>Veuillez selectionner les traits de caractères qui vous définissent le mieux</h3>
                        <div class="form-group">
                            <label for="caract1" class="col-md-12 control-label">Caractère n°1</label>
                            <div class="col-md-12">
                                <select class="form-control" id="caract1" name="caract1">
                                    <option value="0">Choisir...</option>
                                    <option value="Attentionné">Attentionné</option>
                                    <option value="Généreux">Généreux</option>
                                    <option value="Drôle">Drôle</option>
                                    <option value="Fêtard">Fêtard</option>
                                    <option value="Gentil">Gentil</option>
                                    <option value="Courageux">Courageux</option>
                                    <option value="Intelligent">Intelligent</option>
                                    <option value="Bosseur">Bosseur</option>
                                    <option value="Honnête">Honnête</option>
                                    <option value="Patient">Patient</option>
                                    <option value="Fiable">Fiable</option>
                                    <option value="Bricoleur">Bricoleur</option>
                                    <option value="Charmeur">Charmeur</option>
                                    <option value="Sportif">Sportif</option>
                                    <option value="Calme">Calme</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="caract2" class="col-md-12 control-label">Caractère n°2</label>
                            <div class="col-md-12">
                                <select class="form-control" id="caract2" name="caract2">
                                    <option value="0">Choisir...</option>
                                    <option value="Attentionné">Attentionné</option>
                                    <option value="Généreux">Généreux</option>
                                    <option value="Drôle">Drôle</option>
                                    <option value="Fêtard">Fêtard</option>
                                    <option value="Gentil">Gentil</option>
                                    <option value="Courageux">Courageux</option>
                                    <option value="Intelligent">Intelligent</option>
                                    <option value="Bosseur">Bosseur</option>
                                    <option value="Honnête">Honnête</option>
                                    <option value="Patient">Patient</option>
                                    <option value="Fiable">Fiable</option>
                                    <option value="Bricoleur">Bricoleur</option>
                                    <option value="Charmeur">Charmeur</option>
                                    <option value="Sportif">Sportif</option>
                                    <option value="Calme">Calme</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="caract3" class="col-md-12 control-label">Caractère n°3</label>
                            <div class="col-md-12">
                                <select class="form-control" id="caract3" name="caract3">
                                    <option value="0">Choisir...</option>
                                    <option value="Attentionné">Attentionné</option>
                                    <option value="Généreux">Généreux</option>
                                    <option value="Drôle">Drôle</option>
                                    <option value="Fêtard">Fêtard</option>
                                    <option value="Gentil">Gentil</option>
                                    <option value="Courageux">Courageux</option>
                                    <option value="Intelligent">Intelligent</option>
                                    <option value="Bosseur">Bosseur</option>
                                    <option value="Honnête">Honnête</option>
                                    <option value="Patient">Patient</option>
                                    <option value="Fiable">Fiable</option>
                                    <option value="Bricoleur">Bricoleur</option>
                                    <option value="Charmeur">Charmeur</option>
                                    <option value="Sportif">Sportif</option>
                                    <option value="Calme">Calme</option>
                                </select>
                            </div>
                        </div>

                        <hr>

                        <h3>Enfin, veuillez entrer votre mot de passe</h3>
                        <div class="form-group">
                            <label for="password" class="col-md-12 control-label">Password</label>
                            <div class="col-md-12">
                                <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
                            </div>
                        </div>

                        <div class="form-group" >
                            <!-- Boutton -->
                            <div class="col-md-12" style=" margin-top:20px;">
                                <input id="btn-signup" type="submit" class="btn btn-info col-md-12 bg-warning border-0" value="S'enregistrer">

                            </div>
                        </div>
                    </form>
                 </div>
            </div>
         </div>
    </div>

{% endblock %}